In [4]:
import pandas as pd
import numpy as np
import os

In [6]:
data = os.path.join("data", "Coffe_sales.xlsx")
df = pd.read_excel(data)
df

,date,datetime,hour_of_day,cash_type,card,money,coffee_name,Time_of_Day,Weekday,Month_name,Weekdaysort,Monthsort
0,2024-03-01,2024-03-01 10:15:50.520,10,card,ANON-0000-0000-0001,38.70,Latte,Morning,Fri,Mar,5,3
1,2024-03-01,2024-03-01 12:19:22.539,12,card,ANON-0000-0000-0002,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3
2,2024-03-01,2024-03-01 12:20:18.089,12,card,ANON-0000-0000-0002,38.70,Hot Chocolate,Afternoon,Fri,Mar,5,3
3,2024-03-01,2024-03-01 13:46:33.006,13,card,ANON-0000-0000-0003,28.90,Americano,Afternoon,Fri,Mar,5,3
4,2024-03-01,2024-03-01 13:48:14.626,13,card,ANON-0000-0000-0004,38.70,Latte,Afternoon,Fri,Mar,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...
3631,2025-03-23,2025-03-23 10:34:54.894,10,card,ANON-0000-0000-1158,35.76,Cappuccino,Morning,Sun,Mar,7,3
3632,2025-03-23,2025-03-23 14:43:37.362,14,card,ANON-0000-0000-1315,35.76,Cocoa,Afternoon,Sun,Mar,7,3
3633,2025-03-23,2025-03-23 14:44:16.864,14,card,ANON-0000-0000-1315,35.76,Cocoa,Afternoon,Sun,Mar,7,3
3634,2025-03-23,2025-03-23 15:47:28.723,15,card,ANON-0000-0000-1316,25.96,Americano,Afternoon,Sun,Mar,7,3
3635,2025-03-23,2025-03-23 18:11:38.635,18,card,ANON-0000-0000-1275,35.76,Latte,Night,Sun,Mar,7,3

In [7]:
#ver tipos de datos
df.dtypes

date           datetime64[ns]
datetime       datetime64[ns]
hour_of_day             int64
cash_type              object
card                   object
money                 float64
coffee_name            object
Time_of_Day            object
Weekday                object
Month_name             object
Weekdaysort             int64
Monthsort               int64
dtype: object

In [10]:
print(df.isna().sum())
print(df.describe())

date            0
datetime        0
hour_of_day     0
cash_type       0
card           89
money           0
coffee_name     0
Time_of_Day     0
Weekday         0
Month_name      0
Weekdaysort     0
Monthsort       0
dtype: int64
                                date                       datetime  \
count                           3636                           3636
mean   2024-09-30 11:56:02.376237568  2024-10-01 02:35:30.535053568
min              2024-03-01 00:00:00     2024-03-01 10:15:50.520000
25%              2024-07-03 00:00:00  2024-07-03 16:54:06.084750080
50%              2024-10-06 12:00:00  2024-10-07 02:55:12.649500160
75%              2025-01-08 00:00:00  2025-01-08 07:55:20.299750144
max              2025-03-23 00:00:00     2025-03-23 18:11:38.635000
std                              NaN                            NaN

       hour_of_day        money  Weekdaysort    Monthsort
count  3636.000000  3636.000000  3636.000000  3636.000000
mean     14.166942    31.746859     3.847910     6.394664
min       6.000000    18.120000     1.000000     1.000000
25%      10.000000    27.920000     2.000000     3.000000
50%      14.000000    32.820000     4.000000     6.000000
75%      18.000000    35.760000     6.000000    10.000000
max      22.000000    40.000000     7.000000    12.000000
std       4.227755     4.919926     1.975983     3.480686

In [11]:
for col in ["coffee_name", "cash_type", "Time_of_Day", "Weekday", "Month_name"]:
    print(f"{col}: {df[col].nunique()} valores únicos → {df[col].unique()[:10]}")

coffee_name: 8 valores únicos → ['Latte' 'Hot Chocolate' 'Americano' 'Americano with Milk' 'Cocoa'
 'Cortado' 'Espresso' 'Cappuccino']
cash_type: 2 valores únicos → ['card' 'cash']
Time_of_Day: 3 valores únicos → ['Morning' 'Afternoon' 'Night']
Weekday: 7 valores únicos → ['Fri' 'Sat' 'Sun' 'Mon' 'Tue' 'Wed' 'Thu']
Month_name: 12 valores únicos → ['Mar' 'Apr' 'May' 'Jun' 'Jul' 'Aug' 'Sep' 'Oct' 'Nov' 'Dec']

In [12]:
#sacamos el total de ventas 
total = df["money"].sum()
avg = df["money"].mean()

transacciones = df.shape[0]

top5 = df.groupby("coffee_name")["money"].sum().sort_values(ascending=False).head(5)
ventas_dia = df.groupby("Weekday")["money"].sum().reset_index()
ventas_hora = df.groupby("Time_of_Day")["money"].sum().reset_index()